*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container
{
   width: 100vw;
   min-height: 100vh;
   max-height: fit-content;
   background-color: aquamarine;
   margin: auto;
   padding: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#upperPart
{
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
}
#lowerPart
{
    padding: 1rem 3rem;
}
#history{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius:15px;
    width: max-content;
    height: max-content;
    float: right;
    margin-right: 20;
}

#icon
{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 6px;
    font-size: 30px;
    color: grey;
    border: none;
}
form{
    display: flex;
    margin-left: 15rem;
    gap: 4%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
form #input
{
    padding: 15px;
    font-size: 19px;
    font-weight: 300;
    color: black;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
form select
{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    border: none;
    /* padding: 20px; */
    font-size: 19px;
    font-weight: 300;
    color: black;
}
form label
{
    font-size: 22px;
    font-weight: 400;
    color: black;
}
#icon
{
    margin-top: auto auto;
}
#card
{
    display: none;
    width: 50%;
    min-height: 60vh;
    max-height: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 1rem;
    line-height: 2rem;
    background-color: rgb(237, 226, 237);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#trash
{
    color: red;
    padding: 0px;
    font-weight: 400;
    font-size: 40px;
}
#delete
{
    border: none;
    background-color: transparent;
    float: right;
}
#solutioncard
{
    font-size: 25px;
    font-weight: 300;
}