*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container
{
   width: 100vw;
   min-height: 100vh;
   max-height: fit-content;
   background-color: #EA1179;
   margin: auto;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#upperPart
{
    display: flex;
    column-gap: 38%;
    flex-wrap: nowrap;
    padding: 1rem 0;
    /* background-color: black; */
    background-image: url("./image/bricks1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.imgDiv
{
    width: 40%;
}
#upperPart section{
    width: 25%;
}
#upperPart .MathImage, #upperPart .TrofyImage
{
    height: 60px; width:150px;
}
#upperPart #partnerImage
{
    height: 60px; width:180px;
}
#upperPart .history{
    background-color: #0dc519;
    flex-wrap: nowrap;
    display: inline-flex;
    color: black;
    padding: 10px;
    border-radius:15px;
    width: max-content;
    height: max-content;
    float: right;
    margin-right: 1rem;
    font-size: 2rem;
    border: none;
    box-shadow: rgba(39, 39, 241, 0.4) -5px 5px, rgba(39, 39, 241, 0.3) -10px 10px, rgba(39, 39, 241, 0.2) -15px 15px, rgba(39, 39, 241, 0.1) -20px 20px, rgba(39, 39, 241, 0.05) -25px 25px    ;
        
    /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
}
/* #upperPart .history:hover{
    background-color: #350dc5;
    color: white;
} */
/* media query */
@media only screen and (max-width: 400px) {
    #upperPart .TrofyImage
    {
        display: none;
    }
    #upperPart .MathImage
    {
        height: 30px; width:110px;
        margin: 1rem 1rem;
    }
    #upperPart #partnerImage
    {
        height: 30px; width:150px;
        margin-left: 1rem;
    }
    #upperPart .history{
        flex-wrap: nowrap;
        font-size: 1rem;
        padding: 7px;
        margin-right: 1rem;
        border: none;
        box-shadow: rgba(39, 39, 241, 0.4) -5px 5px, rgba(39, 39, 241, 0.3) -10px 10px, rgba(39, 39, 241, 0.2) -15px 15px, rgba(39, 39, 241, 0.1) -20px 20px, rgba(39, 39, 241, 0.05) -25px 25px    ;
        
        /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    }
    form
    {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    #input, #cat
    {
        /* position: relative;
        width: 1rem;
        height: 1.5rem; */
        width: 80%;
        height: 2rem;
        font-size: 1rem;
    }
    section{
        width: 80%;
    }
    #historycard
    {
        min-width: 140%;
    }

    #input span{
        font-size: 1rem;
    }
    #card
    {
        display: block;
        width: 100%;
    }
    
    thead{
        width: 0%;
    }
    table
    {
        width: 90%;
        border-collapse: collapse;
    }
    th{
        background-color: #0dc519;
        color: white;
        font-size: 12px;
        width: 10%;
    }
    th, td{
        border: 1px solid #ddd;
        padding: 0px;
        width: 2%;
        height: fit-content;
        text-align: center;
        font-size: 12px;
    }
    .inputBox input[type="text"]{
        width: 1rem;
        height: 2rem;
        font-size: 1rem;
        padding: 0 5px;
        /* border: 2px solid #350dc5; */
        border-radius: 10px;
        outline: none;
        color: rgb(37, 38, 41);
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
}

@media only screen and (max-width: 600px) {
    #upperPart .TrofyImage
    {
        display: none;
    }
    #upperPart .MathImage
    {
        height: 30px; width:110px;
        margin: 1rem 1rem;
    }
    #upperPart #partnerImage
    {
        height: 30px; 
        width:150px;
        margin-left: 3rem;
    }
    #upperPart .history{
        flex-wrap: nowrap;
        font-size: 1rem;
        padding: 7px;
        margin-right: 1rem;
        border: none;
        box-shadow: rgba(39, 39, 241, 0.4) -5px 5px, rgba(39, 39, 241, 0.3) -10px 10px, rgba(39, 39, 241, 0.2) -15px 15px, rgba(39, 39, 241, 0.1) -20px 20px, rgba(39, 39, 241, 0.05) -25px 25px    ;
        
        /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    }
    form
    {
        flex-direction: column;
        gap: 20px;
    }
    .inputBox
    {
        width: 50%;
    }
    /* today added */
    .inputBox #input, .inputBox #cat
    {
        /* position: relative;
        width: 1rem;
        height: 1.5rem; */
        width: 100%;
        height: 2rem;
        font-size: 1rem;
    }
    section{
        width: 80%;
    }
    #historycard
    {
        min-width: 130%;
    }

    #input span{
        font-size: 1rem;
    }
    #card
    {
        display: block;
        min-width: 130%;
    }
    
    thead{
        width: 0%;
    }
    table
    {
        width: 90%;
        border-collapse: collapse;
    }
    th{
        background-color: #0dc519;
        color: white;
        font-size: 12px;
        width: 10%;
    }
    th, td{
        border: 1px solid #ddd;
        padding: 0px;
        width: 2%;
        height: fit-content;
        text-align: center;
        font-size: 12px;
    }
    .inputBox input[type="text"]{
        width: 1rem;
        height: 2rem;
        font-size: 1rem;
        padding: 0 5px;
        /* border: 2px solid #350dc5; */
        border-radius: 10px;
        outline: none;
        color: rgb(37, 38, 41);
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    /* 777777777777777777777777777 */
}
@media only screen and (max-width: 768px) {
    #upperPart .TrofyImage
    {
        display: none;
    }
    #upperPart .MathImage
    {
        margin: 0.7rem 0.7rem;
        height: 30px; width:110px;
    }
    #upperPart #partnerImage
    {
        margin-left: 1rem;
        height: 30px; width:150px;
    }
    #upperPart .history{
        flex-wrap: nowrap;
        font-size: 1rem;
        padding: 7px;
        margin-right: 1rem;
        border: none;
        box-shadow: rgba(39, 39, 241, 0.4) -5px 5px, rgba(39, 39, 241, 0.3) -10px 10px, rgba(39, 39, 241, 0.2) -15px 15px, rgba(39, 39, 241, 0.1) -20px 20px, rgba(39, 39, 241, 0.05) -25px 25px    ;
        
        /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    }
    form
    {
        flex-direction: column;
        /* row-gap: 0.3; */
    }
}
@media only screen and (max-width: 900px) {
    #upperPart .TrofyImage
    {
        display: none;
    }
    #upperPart .MathImage
    {
        margin: 1rem 1rem;
        height: 30px; width:110px;
    }
    #upperPart #partnerImage
    {
        margin-left: -0rem;
        height: 30px; width:150px;
    }
    #upperPart .history{
        display: inline-block;
        margin-top: 10px;
        /* gap: 10px; */
        flex-wrap: nowrap;
        font-size: 1rem;
        padding: 7px;
        margin-right: 1rem;
        border: none;
        box-shadow: rgba(39, 39, 241, 0.4) -5px 5px, rgba(39, 39, 241, 0.3) -10px 10px, rgba(39, 39, 241, 0.2) -15px 15px, rgba(39, 39, 241, 0.1) -20px 20px, rgba(39, 39, 241, 0.05) -25px 25px    ;
        /* box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; */
    }
}

#lowerPart
{
   /* background-image: url("image/M2images.jpg");
   background-repeat: no-repeat;
   background-size: cover; */
    padding: 1rem 3rem;
}

.searchicon, #delete
{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 6px;
    font-size: 30px;
    color: black;
    border: none;
    /* box-shadow: rgba(280, 29, 165, 33.4) -5px 5px, rgb(159 57 242 / 30%) -10px 10px, #0dc519 -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(280, 34, 185, -19.95) -25px 25px; */
    background-color: transparent;
}
.searchicon:hover{
    color: #3bf548;
    text-shadow:2px 2px 18px #350dc5;
}
#delete:hover{
    color: red;
    text-shadow:2px 2px 18px #350dc5;
}
form{
    display: flex;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* @media only screen and (max-width: 600px) {
    form
    {
        flex-direction: column;
        gap: 20px;
    }
} */
.inputBox
{
    position: relative;
    width: 20rem;
    height: 3rem;
}
.inputBox input[type="text"]{
    width: 21.875rem;
    height: 2.6rem;
    font-size: 1.5rem;
    padding: 0 10px;
    /* border: 2px solid #350dc5; */
    border-radius: 10px;
    outline: none;
    color: rgb(37, 38, 41);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.inputBox span{
    position: absolute;
    left:5px;
    top: 23%;
    transform: translateY(-50%);
    padding: 0 5px;
    pointer-events: none;
    font-size: 1rem;
    color:#070b8ac8;
    text-transform: uppercase;
    transition: 0.5s;
}
.inputBox input:valid~span,.inputBox input:focus~span
{
    color: #15ee15;
    top: 0;
    /* transform: translateX(10px) translateY(-7px); */
    font-size: 0.5rem;
    padding: 0 10px;
    background:rgb(9, 2, 2);
    border-left: 1px solid #0dc519;
    border-right: 1px solid #0dc519;
    letter-spacing: 0.2em;
}
.inputBox input:valid,.inputBox input:focus
{
    border: 2px solid #0dc519;
}
form select
{
    width: 21.875rem;
    height: 2.6rem;
    font-size: 1.5rem;
    padding: 0 10px;
    border: 2px solid #350dc5;
    border-radius: 10px;
    outline: none;
    color: 350dc5;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.icon
{
    background-color: #52f35d;
    flex-wrap: nowrap;
    display: inline-flex;
    color: black;
    padding: 10px;
    border-radius:15px;
    width: max-content;
    height: max-content;
    float: right;
    margin-right: 1rem;
    font-size: 2rem;
    border: none;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
#card, #historycard, .savedHistory 
{
    display: none;
    width: 90%;
    min-height: 60vh;
    max-height: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 1rem;
    line-height: 2rem;
    border-radius: 10px;
    /* transform: skewX(10deg); */
    font-size: 25px;
    font-weight: 300;
    box-shadow: rgba(280, 29, 165, 33.4) -5px 5px, rgb(159 57 242 / 30%) -10px 10px, #0dc519 -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(280, 34, 185, -19.95) -25px 25px;
    position: relative;
    color: white;
    background-image: url("./image/jeometry.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.deleteHistory
{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #350dc5;
    background-color: transparent;
    border: none;
    padding: 2px;
}
.deleteHistory:hover{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
#trash
{
    color: red;
    padding: 0px;
    font-weight: 400;
    font-size: 40px;
}
#delete
{
    border: none;
    background-color: transparent;
    float: right;
}


/* table structure */
table
{
    max-width: 80%;
    border-collapse: collapse;
    margin:auto;

}
th{
    background-color: #0dc519;
    color: white;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}